body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}

.left {
  text-align: center;
}

.right {
  text-align: center;
}

.box {
  border: solid 1px #ccc;
  border-radius: 4px;
  margin: 10px;
}

.chip {
  border: solid 1px #666;
  border-radius: 4px;
  background-color: #CDDC39;
  font-size: 14px;
  padding: 8px;
  margin: 8px;
}