body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}

.left {
  text-align: center;
}

.right {
  text-align: center;
}

.profile {
  padding: 24px;
}

.text-title {
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}

.box {
  border: solid 1px #ccc;
  border-radius: 4px;
  margin: 10px;
}